<?xml version="1.0"?>
<config>
    <modules>
        <MyCenter_URLCaseInsensitive>
            <version>0.1.0</version>
        </MyCenter_URLCaseInsensitive>
    </modules>

    <global>
        <models>
            <core_resource>
                <rewrite>
                    <url_rewrite>MyCenter_URLCaseInsensitive_Model_Resource_Url_Rewrite</url_rewrite>
                </rewrite>
            </core_resource>
        </models>
    </global>
    
</config>