<?xml version="1.0"?>
<config>
    <modules>
        <myCenter_URLCaseInsensitive>
            <version>0.1.0</version>
        </myCenter_URLCaseInsensitive>
    </modules>

    <global>
        <models>
            <core>
                <rewrite>
                    <rewrite>myCenter_URLCaseInsensitive_Model_Resourse_Url_Rewrite</rewrite>
                </rewrite>
            </core>
        </models>
    </global>
    
</config>